.outlet{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
color: #FFFFFF;
position: relative;
}
.outlet::after{
    content: "Outlet Id:";
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
position: absolute;
left: 50px;
bottom: -7px;
}
nav{
  
    color: #FFFFFF;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
/* display: flex;
width: 100%;
border: 1px solid;
justify-content: space-around; */
position: relative;
/* border: 1px solid red; */
padding: 19px;
}
nav h1{
    position: relative;
    z-index: 1;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    /* border: 1px solid red; */
cursor: pointer;
}
h1:nth-child(1){
    width: 15%;
}
h1:nth-child(2){
    width: 18%;
}
h1:nth-child(3){
    width: 20%;
}
h1:nth-child(4){
    width: 20%;
}
h1:nth-child(5){
    width: 18%;
}
nav h1:nth-child(6){
    width: 8%;
}